/* Nền */
body {
    position: relative;
    margin: 0;
    height: 100vh;
    background-color: #f7f3e9; /* Màu nền phía sau ảnh */
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('caphe1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    opacity: 0.5; /* Độ mờ của nền */
    z-index: -1; /* Đưa hình nền ra sau nội dung */
}

/* Khung đăng nhập và đăng ký */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Căn giữa theo chiều dọc */
}

.form-container {
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1; /* Đảm bảo form nằm trên nền mờ */
}
